{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true,
    "navigator": true
  },
  "rules": {
    "no-unused-vars": "off",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "default-case": 0,
    "consistent-return": 0,
    "camelcase": "off",
    "no-undef": 0,
    "no-plusplus": 0,
    "no-return-assign": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/state-in-constructor": 0,
    "react/jsx-props-no-spreading": 0
  }
}
