.location--wrapper
  display: flex
  justify-content: space-between
  padding: 10px
  font-family: 'Open Sans',sans-serif

  .location--info
    display: flex
    flex-direction: column
    width: 62%

    .main--info
      font-size: clamp(18px,2.5vw ,28px)

    .region--info
      font-size: clamp(9px,1vw ,10px)

  .date--info
    width: 38%
    font-size: clamp(14px,2vw ,16px)
    text-align: right
