.location--wrapper
  display: flex
  justify-content: space-between
  padding: 10px
  font-family: 'Open Sans',sans-serif

  .location--info
    display: flex
    flex-direction: column
    width: 62%

    .main--info
      // font-family: 'Open Sans',sans-serif
      font-size: clamp(18px,2.5vw ,28px)

    .aside--info
      // font-family: 'Open Sans',sans-serif
      font-size: clamp(9px,1vw ,10px)

  .date--info
    font-size: 16px
    text-align: right
