.nav--wrapper
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: 100vw
  height: 52px
  display: flex
  justify-content: center
  // filter: blur(4px)

  nav
    height: 52px
    display: flex
    justify-content: flex-end

    .search--bar--container
      align-self: center
      width: 300px
