.nav__wrapper
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: 100vw
  height: 52px
  display: flex
  justify-content: center

  nav
    display: flex
    justify-content: flex-end
    height: 52px
    color: #dddddd

    .nav__btn
      display: flex
      justify-content: space-between
      width: 136px
      padding: 8px 12px
      align-self: center
      background-color: transparent
      border: 1px solid #dddddd
      border-radius: 25px
      color: #dddddd

    .nav__btn:focus
      border: none
      outline: none

      .search__icon
        width: 12px
        height: 12px
        color: #dddddd
