
form
  display: flex
  align-self: center

  label
    width: 62%
    padding: 0 15px
    border-radius: 25px 0 0 25px
    outline: none
    border: none
    cursor: pointer
    background-color: #fff

    input
      line-height: 26px
      outline: none
      border: none
      padding: 0 10px
      width: 90%

  .search__btn
    width: 38%
    text-align: center
    line-height: 26px
    font-family: 'Open Sans', sans-serif
    color: #dddddd
    border-radius: 0 25px 25px  0
    outline: none
    border: none
    cursor: pointer
