.nav--wrapper
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: 100vw
  height: 52px
  display: flex
  justify-content: center

  nav
    height: 52px
    // width: clamp(300px, 62%, 893px)
    display: flex
    justify-content: flex-end

    form
      display: flex
      align-self: center

      input
        min-width: 162px
        line-height: 26px
        padding: 0 15px
        border-radius: 25px 0 0 25px
        outline: none
        border: none
        cursor: pointer

      .search--btn
        min-width: 100px
        padding: 0 20px
        line-height: 26px
        font-family: 'Open Sans', sans-serif
        color: #ffffff
        border-radius: 0 25px 25px  0
        outline: none
        border: none
        cursor: pointer

.dark--bg
  background-color: #222

.yellow--bg
  background-color: #f6a71c
